{% extends 'ledger/base.html' %}
{% block content %}
    {% if request.user.is_authenticated %}
        <h2>{{object.name}}</h2>
        <h3>Submitted by: {{ object.get_author }}</h3>
        <h4>Ingredients</h4>
        <ul>
            {% for ingredient in object.ingredients.all %}
            <li>{{ ingredient.quantity }} of {{ ingredient.ingredient.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <a href="{% url 'login' %}">LOGIN</a>
    {% endif %}   
{% endblock %}