<!DOCTYPE html>
<html>
<head>
    <title>Recipe Book</title>
</head>
<body>
    <header class="main-header">
        <h1>Recipe Book</h1>
        {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">LOGOUT</button>
        </form>
    {% else %}
        <form action = "{% url 'logout' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    {% endif %}
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>

